In [4]:
import pandas as pd

In [5]:
# Create our own dataframe using dictionaries
students = pd.DataFrame({
"ID": [101, 100, 105, 110, 124, 99],
"Name": ["Andrew", "Sai", "Andy", "Zeeshan", "Juan", "Jake"],
"Major": ["DS", "BME", "DS", "CSE", "CS", "DS"]})

In [6]:
students

    ID     Name Major
0  101   Andrew    DS
1  100      Sai   BME
2  105     Andy    DS
3  110  Zeeshan   CSE
4  124     Juan    CS
5   99     Jake    DS